<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Update Todo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="index.php?action=update" method="post" id="form_update">
          <div class="alert alert-danger d-none" id="modal-alert"></div>

          <input type="hidden" name="todo_id" id="todo_form_id" />
          <textarea class="form-control" name="todo" id="" cols="60" rows="5"></textarea>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <input type="submit" id="submit_update" class="btn btn-primary" value="Update" data-bs-dismiss="modal" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
